body{
max-width: 1500px;
width: 900px;
  font-family: digital;
}
@font-face {
    font-family: "digital";
    src: url("font/DS-DIGIT.TTF");
}
h1{
  max-width: 100%;
  width: 80%;
  text-align: left;
}
#container{
  position: relative;
  background-color: blue;
  overflow:auto;
  width: 100%;
}
#container *{
  max-width: 90%;
  max-height: 90%;
}
